@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="~/Content/main1.css" />


<body>
    <br><br>

    <h2> OUR STORY</h2>

  

    <par>
        <p>
            FlyWith is a social platform that enables airlines to seat passengers with common interests.
            <br>It was founded in 2016 out of HUstart, Hebrew University's startup accelerator and is now part of<br> AtoBe,the accelerator of the Azrieli College of Engineering, also based in Jerusalem.
            <br><br>
            <b>Development is in progress and our team is growing... Stay tuned!</b>
        </p>
    </par>

    <br><br>

    <h2>OUR VISION </h2>

  

    <par>
        <p>
            The average flight and taxiing time worldwide is four hours.
            Be it for a business conversation,<br> a romantic encounter, a casual chat or simply silence, why not make each and every of these 240 minutes count?
        </p>

    </par>
    <br><br>

    <h2>OUR TECHNOLOGY</h2>


    <par>
        <p>
            FlyWith was designed as a SaaS (Software as a Service) platform.<br>
            When buying a ticket online, passengers simply have to select their<br> flight mood (business, dating, silence...) and log in with their<br> Facebook or LinkedIn account.

            <br><br>
            <b>Just a few clicks and our match-making software identifies the most suitable seatmate.</b>
        </p>
    </par>
</body>