@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/main.css" />

<body>
    <br><br><br>
    <h1>
        Perfect seatmate.<br>
        Every time.
    </h1>
    
   
    <p><h2>FlyWith enables airlines to <br>seat     passengers with <br>common interests.</h2></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
       
    
</body>