@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/main.css" />

<body>
    <br><br><br>
    <h1>
        Perfect seatmate.<br>
        Every time.
    </h1>
    
    <br><br><br>
    <p><h2>FlyWith enables airlines to seat <br> passengers with common interests.</h2></p>
    <br><br><br><br><br>
    
        <img src="~/Content/images/logo.png" alt="company logo" style="width:100px;height:100px;">
    <br><br><br><br><br><br><br>
    
</body>